<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smertbox.system.param.mapper.CmParameterMapper" >
  <resultMap id="BaseResultMap" type="com.smertbox.system.param.model.CmParameter" >
    <id column="par_id" property="parId" jdbcType="VARCHAR" />
    <result column="par_pid" property="parPid" jdbcType="VARCHAR" />
    <result column="par_type" property="parType" jdbcType="VARCHAR" />
    <result column="par_level" property="parLevel" jdbcType="VARCHAR" />
    <result column="par_key" property="parKey" jdbcType="VARCHAR" />
    <result column="par_value" property="parValue" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="sort_code" property="sortCode" jdbcType="VARCHAR" />
    <result column="allow_del" property="allowDel" jdbcType="DECIMAL" />
    <result column="allow_edit" property="allowEdit" jdbcType="DECIMAL" />
    <result column="ct_time" property="ctTime" jdbcType="TIMESTAMP" />
    <result column="ct_user_id" property="ctUserId" jdbcType="VARCHAR" />
    <result column="up_time" property="upTime" jdbcType="TIMESTAMP" />
    <result column="up_user_id" property="upUserId" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Page_Where_Clause">
  	 <if test="parPid != null and parPid != ''" >
       and par_pid = #{parPid,jdbcType=VARCHAR}
      </if>
      <if test="parType != null and parType != ''" >
       and par_type = #{parType,jdbcType=VARCHAR}
      </if>
      <if test="parLevel != null and parLevel != ''" >
       and par_level = #{parLevel,jdbcType=VARCHAR}
      </if>
      <if test="parKey != null and parKey != ''" >
       and par_key = #{parKey,jdbcType=VARCHAR}
      </if>
      <if test="parValue != null and parValue != ''" >
       and par_value = #{parValue,jdbcType=VARCHAR}
      </if>
      <if test="groupId != null and groupId != ''" >
       and group_id = #{groupId,jdbcType=VARCHAR}
      </if>
      <if test="sortCode != null and sortCode != ''" >
       and sort_code = #{sortCode,jdbcType=VARCHAR}
      </if>
      <if test="allowDel != null and allowDel != ''" >
       and allow_del = #{allowDel,jdbcType=DECIMAL}
      </if>
      <if test="allowEdit != null and allowEdit != ''" >
       and allow_edit = #{allowEdit,jdbcType=DECIMAL}
      </if>
      <if test="ctTime != null and ctTime != ''" >
       and ct_time = #{ctTime,jdbcType=TIMESTAMP}
      </if>
      <if test="ctUserId != null and ctUserId != ''" >
       and ct_user_id = #{ctUserId,jdbcType=VARCHAR}
      </if>
      <if test="upTime != null and upTime != ''" >
       and up_time = #{upTime,jdbcType=TIMESTAMP}
      </if>
      <if test="upUserId != null and upUserId != ''" >
       and up_user_id = #{upUserId,jdbcType=VARCHAR}
      </if>
      <if test="note != null and note != ''" >
       and note = #{note,jdbcType=VARCHAR}
      </if>
       and del = 0
  </sql>
  
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    par_id, par_pid, par_type, par_level, par_key, par_value, group_id, sort_code, allow_del, 
    allow_edit, ct_time, ct_user_id, up_time, up_user_id, note, del
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.smertbox.system.param.model.CmParameterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cm_parameter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cm_parameter
    where par_id = #{parId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cm_parameter
    where par_id = #{parId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.smertbox.system.param.model.CmParameterExample" >
    delete from cm_parameter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smertbox.system.param.model.CmParameter" >
    insert into cm_parameter (par_id, par_pid, par_type, 
      par_level, par_key, par_value, 
      group_id, sort_code, allow_del, 
      allow_edit, ct_time, ct_user_id, 
      up_time, up_user_id, note, 
      del)
    values (#{parId,jdbcType=VARCHAR}, #{parPid,jdbcType=VARCHAR}, #{parType,jdbcType=VARCHAR}, 
      #{parLevel,jdbcType=VARCHAR}, #{parKey,jdbcType=VARCHAR}, #{parValue,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=VARCHAR}, #{sortCode,jdbcType=VARCHAR}, #{allowDel,jdbcType=DECIMAL}, 
      #{allowEdit,jdbcType=DECIMAL}, #{ctTime,jdbcType=TIMESTAMP}, #{ctUserId,jdbcType=VARCHAR}, 
      #{upTime,jdbcType=TIMESTAMP}, #{upUserId,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{del,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.smertbox.system.param.model.CmParameter" >
    insert into cm_parameter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parId != null" >
        par_id,
      </if>
      <if test="parPid != null" >
        par_pid,
      </if>
      <if test="parType != null" >
        par_type,
      </if>
      <if test="parLevel != null" >
        par_level,
      </if>
      <if test="parKey != null" >
        par_key,
      </if>
      <if test="parValue != null" >
        par_value,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="sortCode != null" >
        sort_code,
      </if>
      <if test="allowDel != null" >
        allow_del,
      </if>
      <if test="allowEdit != null" >
        allow_edit,
      </if>
      <if test="ctTime != null" >
        ct_time,
      </if>
      <if test="ctUserId != null" >
        ct_user_id,
      </if>
      <if test="upTime != null" >
        up_time,
      </if>
      <if test="upUserId != null" >
        up_user_id,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="del != null" >
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parId != null" >
        #{parId,jdbcType=VARCHAR},
      </if>
      <if test="parPid != null" >
        #{parPid,jdbcType=VARCHAR},
      </if>
      <if test="parType != null" >
        #{parType,jdbcType=VARCHAR},
      </if>
      <if test="parLevel != null" >
        #{parLevel,jdbcType=VARCHAR},
      </if>
      <if test="parKey != null" >
        #{parKey,jdbcType=VARCHAR},
      </if>
      <if test="parValue != null" >
        #{parValue,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="sortCode != null" >
        #{sortCode,jdbcType=VARCHAR},
      </if>
      <if test="allowDel != null" >
        #{allowDel,jdbcType=DECIMAL},
      </if>
      <if test="allowEdit != null" >
        #{allowEdit,jdbcType=DECIMAL},
      </if>
      <if test="ctTime != null" >
        #{ctTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctUserId != null" >
        #{ctUserId,jdbcType=VARCHAR},
      </if>
      <if test="upTime != null" >
        #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upUserId != null" >
        #{upUserId,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smertbox.system.param.model.CmParameterExample" resultType="java.lang.Integer" >
    select count(*) from cm_parameter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cm_parameter
    <set >
      <if test="record.parId != null" >
        par_id = #{record.parId,jdbcType=VARCHAR},
      </if>
      <if test="record.parPid != null" >
        par_pid = #{record.parPid,jdbcType=VARCHAR},
      </if>
      <if test="record.parType != null" >
        par_type = #{record.parType,jdbcType=VARCHAR},
      </if>
      <if test="record.parLevel != null" >
        par_level = #{record.parLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.parKey != null" >
        par_key = #{record.parKey,jdbcType=VARCHAR},
      </if>
      <if test="record.parValue != null" >
        par_value = #{record.parValue,jdbcType=VARCHAR},
      </if>
      <if test="record.groupId != null" >
        group_id = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.sortCode != null" >
        sort_code = #{record.sortCode,jdbcType=VARCHAR},
      </if>
      <if test="record.allowDel != null" >
        allow_del = #{record.allowDel,jdbcType=DECIMAL},
      </if>
      <if test="record.allowEdit != null" >
        allow_edit = #{record.allowEdit,jdbcType=DECIMAL},
      </if>
      <if test="record.ctTime != null" >
        ct_time = #{record.ctTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ctUserId != null" >
        ct_user_id = #{record.ctUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.upTime != null" >
        up_time = #{record.upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.upUserId != null" >
        up_user_id = #{record.upUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.del != null" >
        del = #{record.del,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cm_parameter
    set par_id = #{record.parId,jdbcType=VARCHAR},
      par_pid = #{record.parPid,jdbcType=VARCHAR},
      par_type = #{record.parType,jdbcType=VARCHAR},
      par_level = #{record.parLevel,jdbcType=VARCHAR},
      par_key = #{record.parKey,jdbcType=VARCHAR},
      par_value = #{record.parValue,jdbcType=VARCHAR},
      group_id = #{record.groupId,jdbcType=VARCHAR},
      sort_code = #{record.sortCode,jdbcType=VARCHAR},
      allow_del = #{record.allowDel,jdbcType=DECIMAL},
      allow_edit = #{record.allowEdit,jdbcType=DECIMAL},
      ct_time = #{record.ctTime,jdbcType=TIMESTAMP},
      ct_user_id = #{record.ctUserId,jdbcType=VARCHAR},
      up_time = #{record.upTime,jdbcType=TIMESTAMP},
      up_user_id = #{record.upUserId,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      del = #{record.del,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smertbox.system.param.model.CmParameter" >
    update cm_parameter
    <set >
      <if test="parPid != null" >
        par_pid = #{parPid,jdbcType=VARCHAR},
      </if>
      <if test="parType != null" >
        par_type = #{parType,jdbcType=VARCHAR},
      </if>
      <if test="parLevel != null" >
        par_level = #{parLevel,jdbcType=VARCHAR},
      </if>
      <if test="parKey != null" >
        par_key = #{parKey,jdbcType=VARCHAR},
      </if>
      <if test="parValue != null" >
        par_value = #{parValue,jdbcType=VARCHAR},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="sortCode != null" >
        sort_code = #{sortCode,jdbcType=VARCHAR},
      </if>
      <if test="allowDel != null" >
        allow_del = #{allowDel,jdbcType=DECIMAL},
      </if>
      <if test="allowEdit != null" >
        allow_edit = #{allowEdit,jdbcType=DECIMAL},
      </if>
      <if test="ctTime != null" >
        ct_time = #{ctTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctUserId != null" >
        ct_user_id = #{ctUserId,jdbcType=VARCHAR},
      </if>
      <if test="upTime != null" >
        up_time = #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upUserId != null" >
        up_user_id = #{upUserId,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=DECIMAL},
      </if>
    </set>
    where par_id = #{parId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smertbox.system.param.model.CmParameter" >
    update cm_parameter
    set par_pid = #{parPid,jdbcType=VARCHAR},
      par_type = #{parType,jdbcType=VARCHAR},
      par_level = #{parLevel,jdbcType=VARCHAR},
      par_key = #{parKey,jdbcType=VARCHAR},
      par_value = #{parValue,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      sort_code = #{sortCode,jdbcType=VARCHAR},
      allow_del = #{allowDel,jdbcType=DECIMAL},
      allow_edit = #{allowEdit,jdbcType=DECIMAL},
      ct_time = #{ctTime,jdbcType=TIMESTAMP},
      ct_user_id = #{ctUserId,jdbcType=VARCHAR},
      up_time = #{upTime,jdbcType=TIMESTAMP},
      up_user_id = #{upUserId,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      del = #{del,jdbcType=DECIMAL}
    where par_id = #{parId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.smertbox.system.param.model.CmParameter">
   select * from cm_parameter where del = 0
  </select>
  
  <select id="selectParamTree" resultMap="BaseResultMap" parameterType="com.smertbox.system.param.model.CmParameter">
   select * from cm_parameter where del = 0 order by sort_code
  </select>
  
  <select id="selectPageSize" resultType="java.lang.Integer" parameterType="com.smertbox.system.param.model.CmParameter">
  	select count(*) from cm_parameter
    where 1=1
    <include refid="Page_Where_Clause"/>
  </select>
  
  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.smertbox.system.param.model.CmParameter">
  	SELECT * FROM cm_parameter WHERE 1 = 1
    <include refid="Page_Where_Clause"/>
    <if test="orderByClause!=null and orderByClause!=''">
    order by ${orderByClause} ${orderByType}
    </if>
    <if test="start!=null and start!=-1">
    limit #{start},#{length}
    </if>
  </select>
  
  <delete id="deleteCascade" parameterType="java.lang.String">
   delete FROM cm_parameter WHERE FIND_IN_SET(par_id,queryChildrenParam(#{parId,jdbcType=VARCHAR}))>0
  </delete>
</mapper>