<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- Scans the classpath of this application for @Components to deploy as 
		beans -->
	<context:component-scan base-package="com.smertbox" />

	<!-- Configures the @Controller programming model -->
	<mvc:annotation-driven>
		<!-- 处理responseBody 里面日期类型 -->  
        <mvc:message-converters>  
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">  
                <property name="objectMapper">  
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">  
                        <property name="dateFormat">  
                            <bean class="java.text.SimpleDateFormat">  
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />  
                            </bean>  
                        </property>  
                    </bean>  
                </property>  
            </bean>  
        </mvc:message-converters>  
	</mvc:annotation-driven>
	
	<!-- task annotations -->
	<!-- 开启这个配置，spring才能识别@Scheduled注解 -->

	<task:executor id="executor" pool-size="10" /> 
	<!-- <task:scheduler id="scheduler" pool-size="10" /> -->
	<!-- <task:annotation-driven executor="executor" scheduler="scheduler" /> --> 
	<!-- 支持异步方法执行 -->
    <task:annotation-driven /> 

	<!-- Forwards requests to the "/" resource to the "welcome" view -->
	<mvc:view-controller path="/" view-name="index" />

	<!-- Configures Handler Interceptors -->
	<mvc:interceptors>
		<!-- Changes the locale when a 'locale' request parameter is sent; e.g. /?locale=de -->
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	</mvc:interceptors>

	<!-- Handles HTTP GET requests for /resources/** by efficiently serving 
		up static resources in the ${webappRoot}/resources/ directory -->
	<mvc:resources mapping="favicon.ico" location="favicon.ico" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/img/**" location="/img/" />
	<mvc:resources mapping="/fonts/**" location="/fonts/" />
	<mvc:resources mapping="/helps/**" location="/helps/" />
	<mvc:resources mapping="/ueditor/**" location="/ueditor/" />
	<mvc:resources mapping="/font-awesome/**" location="/font-awesome/" />
	<mvc:resources mapping="/login/**" location="/login/" />
	<mvc:resources mapping="/pdf/**" location="/pdf/" />
	<mvc:resources mapping="/.well-known/**" location="/.well-known/" />

	<!-- Saves a locale change using a cookie -->
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver" />

	<!-- velocity视图解析器 -->
	<!-- <bean id="velocityViewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
		每个页面都引用
		<property name="exposeRequestAttributes" value="true" />
		页面类型
		<property name="contentType" value="text/html;charset=UTF-8" />
		前缀
		<property name="prefix" value="" />
		后缀
		<property name="suffix" value=".html" />
		第一个匹配的是freemarker的视图解析器，如果匹配不成功，则自动选择order=1的其他解析器
		<property name="order" value="2" />
	</bean> -->
	<!-- <bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath">
			<value>/WEB-INF/html5/</value>
		</property>
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
				<prop key="contentType">text/html;charset=UTF-8</prop>
			</props>
		</property>
	</bean> -->

	<!-- Resolves view names to protected .jsp resources within the /WEB-INF/views 
		directory -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="order" value="1" />
		<property name="prefix" value="/WEB-INF/html5/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 配置文件上传功能 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 1024 *1024 * 6 = 6MB -->
		<property name="maxUploadSize" value="6291456" />
	</bean>


	<!-- 异常处理 -->
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop
					key="org.springframework.web.multipart.MaxUploadSizeExceededException">error/upload_error</prop>
				<prop key="java.lang.Exception">error/404</prop>
				<prop key="java.lang.Throwable">error/500</prop>

			</props>
		</property>
		<property name="statusCodes">
			<props>
				<prop key="error/404">404</prop>
				<prop key="error/500">500</prop>
			</props>
		</property>
	</bean>

	<context:annotation-config />
	
	<!-- 跨域访问 -->
	<mvc:cors>
		<mvc:mapping path="*" allowed-origins="https://seal.wosign.com"/>
	</mvc:cors>

	<!-- Interceptor队列 将由上到下顺序执行-->
	<mvc:interceptors>  
      <bean class="com.smertbox.system.application.interceptor.RequestInterceptor" />  
      <bean class="com.smertbox.system.application.interceptor.ResponseInterceptor" />
    </mvc:interceptors>  
</beans>