<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smertbox.security.userorg.mapper.SysUserOrgMapper" >
  <resultMap id="BaseResultMap" type="com.smertbox.security.userorg.model.SysUserOrg" >
    <id column="uo_id" property="uoId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Page_Where_Clause">
  	<if test="userId != null" >
     and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="orgId != null" >
     and org_id = #{orgId,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
     and create_time = #{createTime,jdbcType=TIMESTAMP}
    </if>
  </sql>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uo_id, user_id, org_id, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.smertbox.security.userorg.model.SysUserOrgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_user_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_org
    where uo_id = #{uoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_user_org
    where uo_id = #{uoId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByUserId" parameterType="java.lang.String" >
    delete from sys_user_org
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByExample" parameterType="com.smertbox.security.userorg.model.SysUserOrgExample" >
    delete from sys_user_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smertbox.security.userorg.model.SysUserOrg" >
    insert into sys_user_org (uo_id, user_id, org_id, 
      create_time)
    values (#{uoId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.smertbox.security.userorg.model.SysUserOrg" >
    insert into sys_user_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uoId != null" >
        uo_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uoId != null" >
        #{uoId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smertbox.security.userorg.model.SysUserOrgExample" resultType="java.lang.Integer" >
    select count(*) from sys_user_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_user_org
    <set >
      <if test="record.uoId != null" >
        uo_id = #{record.uoId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_user_org
    set uo_id = #{record.uoId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smertbox.security.userorg.model.SysUserOrg" >
    update sys_user_org
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uo_id = #{uoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smertbox.security.userorg.model.SysUserOrg" >
    update sys_user_org
    set user_id = #{userId,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where uo_id = #{uoId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectPage" parameterType="com.smertbox.security.userorg.model.SysUserOrg" resultMap="BaseResultMap">
  	select * from sys_user_org where 1=1
  	<include refid="Page_Where_Clause"/>
    <if test="orderByClause!=null and orderByClause!=''">
    order by ${orderByClause} ${orderByType}
    </if>
    <if test="start!=null and start!=-1">
    limit #{start},#{length}
    </if>
  </select>
  
  <select id="selectPageSize" parameterType="com.smertbox.security.userorg.model.SysUserOrg" resultType="java.lang.Integer">
  select count(*) from sys_user_org 
  where 1=1  
  <include refid="Page_Where_Clause"/>
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
  select * from sys_user_org
  </select>
</mapper>