<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smertbox.security.resourceprivilege.mapper.SysResPvgMapper" >
  <resultMap id="BaseResultMap" type="com.smertbox.security.resourceprivilege.model.SysResPvg" >
    <id column="res_pvg_id" property="resPvgId" jdbcType="VARCHAR" />
    <result column="res_id" property="resId" jdbcType="VARCHAR" />
    <result column="pvg_id" property="pvgId" jdbcType="VARCHAR" />
    <result column="rp_type" property="rpType" jdbcType="VARCHAR" />
    <result column="allow_edit" property="allowEdit" jdbcType="DECIMAL" />
    <result column="allow_del" property="allowDel" jdbcType="DECIMAL" />
    <result column="ct_user_id" property="ctUserId" jdbcType="VARCHAR" />
    <result column="ct_time" property="ctTime" jdbcType="TIMESTAMP" />
    <result column="up_user_id" property="upUserId" jdbcType="VARCHAR" />
    <result column="up_time" property="upTime" jdbcType="TIMESTAMP" />
    <result column="sort" property="sort" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="del" property="del" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    res_pvg_id, res_id, pvg_id, rp_type, allow_edit, allow_del, ct_user_id, ct_time, 
    up_user_id, up_time, sort, note, del
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.smertbox.security.resourceprivilege.model.SysResPvgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_res_pvg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_res_pvg
    where res_pvg_id = #{resPvgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_res_pvg
    where res_pvg_id = #{resPvgId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.smertbox.security.resourceprivilege.model.SysResPvgExample" >
    delete from sys_res_pvg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smertbox.security.resourceprivilege.model.SysResPvg" >
    insert into sys_res_pvg (res_pvg_id, res_id, pvg_id, 
      rp_type, allow_edit, allow_del, 
      ct_user_id, ct_time, up_user_id, 
      up_time, sort, note, 
      del)
    values (#{resPvgId,jdbcType=VARCHAR}, #{resId,jdbcType=VARCHAR}, #{pvgId,jdbcType=VARCHAR}, 
      #{rpType,jdbcType=VARCHAR}, #{allowEdit,jdbcType=DECIMAL}, #{allowDel,jdbcType=DECIMAL}, 
      #{ctUserId,jdbcType=VARCHAR}, #{ctTime,jdbcType=TIMESTAMP}, #{upUserId,jdbcType=VARCHAR}, 
      #{upTime,jdbcType=TIMESTAMP}, #{sort,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{del,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.smertbox.security.resourceprivilege.model.SysResPvg" >
    insert into sys_res_pvg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resPvgId != null" >
        res_pvg_id,
      </if>
      <if test="resId != null" >
        res_id,
      </if>
      <if test="pvgId != null" >
        pvg_id,
      </if>
      <if test="rpType != null" >
        rp_type,
      </if>
      <if test="allowEdit != null" >
        allow_edit,
      </if>
      <if test="allowDel != null" >
        allow_del,
      </if>
      <if test="ctUserId != null" >
        ct_user_id,
      </if>
      <if test="ctTime != null" >
        ct_time,
      </if>
      <if test="upUserId != null" >
        up_user_id,
      </if>
      <if test="upTime != null" >
        up_time,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="del != null" >
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resPvgId != null" >
        #{resPvgId,jdbcType=VARCHAR},
      </if>
      <if test="resId != null" >
        #{resId,jdbcType=VARCHAR},
      </if>
      <if test="pvgId != null" >
        #{pvgId,jdbcType=VARCHAR},
      </if>
      <if test="rpType != null" >
        #{rpType,jdbcType=VARCHAR},
      </if>
      <if test="allowEdit != null" >
        #{allowEdit,jdbcType=DECIMAL},
      </if>
      <if test="allowDel != null" >
        #{allowDel,jdbcType=DECIMAL},
      </if>
      <if test="ctUserId != null" >
        #{ctUserId,jdbcType=VARCHAR},
      </if>
      <if test="ctTime != null" >
        #{ctTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upUserId != null" >
        #{upUserId,jdbcType=VARCHAR},
      </if>
      <if test="upTime != null" >
        #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        #{del,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smertbox.security.resourceprivilege.model.SysResPvgExample" resultType="java.lang.Integer" >
    select count(*) from sys_res_pvg
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="selectPage" parameterType="com.smertbox.security.resourceprivilege.model.SysResPvg" resultMap="BaseResultMap">
  	 select * from sys_res_pvg where 1=1
  	  <if test="resPvgId != null" >
       and res_pvg_id = #{resPvgId,jdbcType=VARCHAR}
      </if>
      <if test="resId != null" >
       and res_id = #{resId,jdbcType=VARCHAR}
      </if>
      <if test="pvgId != null" >
       and pvg_id = #{pvgId,jdbcType=VARCHAR}
      </if>
      <if test="rpType != null" >
       and rp_type = #{rpType,jdbcType=VARCHAR}
      </if>
      <if test="allowEdit != null" >
       and allow_edit = #{allowEdit,jdbcType=DECIMAL}
      </if>
      <if test="allowDel != null" >
       and allow_del = #{allowDel,jdbcType=DECIMAL}
      </if>
      <if test="ctUserId != null" >
       and ct_user_id = #{ctUserId,jdbcType=VARCHAR}
      </if>
      <if test="ctTime != null" >
       and ct_time = #{ctTime,jdbcType=DATE}
      </if>
      <if test="upUserId != null" >
       and up_user_id = #{upUserId,jdbcType=VARCHAR}
      </if>
      <if test="upTime != null" >
       and up_time = #{upTime,jdbcType=DATE}
      </if>
      <if test="sort != null" >
       and sort = #{sort,jdbcType=VARCHAR}
      </if>
      <if test="note != null" >
       and note = #{note,jdbcType=VARCHAR}
      </if>
       and del = 0
  </select>
  
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_res_pvg
    <set >
      <if test="record.resPvgId != null" >
        res_pvg_id = #{record.resPvgId,jdbcType=VARCHAR},
      </if>
      <if test="record.resId != null" >
        res_id = #{record.resId,jdbcType=VARCHAR},
      </if>
      <if test="record.pvgId != null" >
        pvg_id = #{record.pvgId,jdbcType=VARCHAR},
      </if>
      <if test="record.rpType != null" >
        rp_type = #{record.rpType,jdbcType=VARCHAR},
      </if>
      <if test="record.allowEdit != null" >
        allow_edit = #{record.allowEdit,jdbcType=DECIMAL},
      </if>
      <if test="record.allowDel != null" >
        allow_del = #{record.allowDel,jdbcType=DECIMAL},
      </if>
      <if test="record.ctUserId != null" >
        ct_user_id = #{record.ctUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.ctTime != null" >
        ct_time = #{record.ctTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.upUserId != null" >
        up_user_id = #{record.upUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.upTime != null" >
        up_time = #{record.upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.del != null" >
        del = #{record.del,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_res_pvg
    set res_pvg_id = #{record.resPvgId,jdbcType=VARCHAR},
      res_id = #{record.resId,jdbcType=VARCHAR},
      pvg_id = #{record.pvgId,jdbcType=VARCHAR},
      rp_type = #{record.rpType,jdbcType=VARCHAR},
      allow_edit = #{record.allowEdit,jdbcType=DECIMAL},
      allow_del = #{record.allowDel,jdbcType=DECIMAL},
      ct_user_id = #{record.ctUserId,jdbcType=VARCHAR},
      ct_time = #{record.ctTime,jdbcType=TIMESTAMP},
      up_user_id = #{record.upUserId,jdbcType=VARCHAR},
      up_time = #{record.upTime,jdbcType=TIMESTAMP},
      sort = #{record.sort,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      del = #{record.del,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smertbox.security.resourceprivilege.model.SysResPvg" >
    update sys_res_pvg
    <set >
      <if test="resId != null" >
        res_id = #{resId,jdbcType=VARCHAR},
      </if>
      <if test="pvgId != null" >
        pvg_id = #{pvgId,jdbcType=VARCHAR},
      </if>
      <if test="rpType != null" >
        rp_type = #{rpType,jdbcType=VARCHAR},
      </if>
      <if test="allowEdit != null" >
        allow_edit = #{allowEdit,jdbcType=DECIMAL},
      </if>
      <if test="allowDel != null" >
        allow_del = #{allowDel,jdbcType=DECIMAL},
      </if>
      <if test="ctUserId != null" >
        ct_user_id = #{ctUserId,jdbcType=VARCHAR},
      </if>
      <if test="ctTime != null" >
        ct_time = #{ctTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upUserId != null" >
        up_user_id = #{upUserId,jdbcType=VARCHAR},
      </if>
      <if test="upTime != null" >
        up_time = #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="del != null" >
        del = #{del,jdbcType=DECIMAL},
      </if>
    </set>
    where res_pvg_id = #{resPvgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smertbox.security.resourceprivilege.model.SysResPvg" >
    update sys_res_pvg
    set res_id = #{resId,jdbcType=VARCHAR},
      pvg_id = #{pvgId,jdbcType=VARCHAR},
      rp_type = #{rpType,jdbcType=VARCHAR},
      allow_edit = #{allowEdit,jdbcType=DECIMAL},
      allow_del = #{allowDel,jdbcType=DECIMAL},
      ct_user_id = #{ctUserId,jdbcType=VARCHAR},
      ct_time = #{ctTime,jdbcType=TIMESTAMP},
      up_user_id = #{upUserId,jdbcType=VARCHAR},
      up_time = #{upTime,jdbcType=TIMESTAMP},
      sort = #{sort,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      del = #{del,jdbcType=DECIMAL}
    where res_pvg_id = #{resPvgId,jdbcType=VARCHAR}
  </update>
</mapper>