<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smertbox.security.orgrolegroup.mapper.SysOrgRolegroupMapper" >
  <resultMap id="BaseResultMap" type="com.smertbox.security.orgrolegroup.model.SysOrgRolegroup" >
    <id column="or_id" property="orId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="rg_id" property="rgId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Page_Where_Clause">
  	  <if test="orgId != null" >
       and org_id = #{orgId,jdbcType=VARCHAR}
      </if>
      <if test="rgId != null" >
       and rg_id = #{rgId,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
       and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
  </sql>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    or_id, org_id, rg_id, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.smertbox.security.orgrolegroup.model.SysOrgRolegroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_org_rolegroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_org_rolegroup
    where or_id = #{orId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_org_rolegroup
    where or_id = #{orId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByOrgId" parameterType="java.lang.String" >
    delete from sys_org_rolegroup
    where org_id = #{orgId,jdbcType=VARCHAR}
  </delete>
  
  <delete id="deleteByExample" parameterType="com.smertbox.security.orgrolegroup.model.SysOrgRolegroupExample" >
    delete from sys_org_rolegroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smertbox.security.orgrolegroup.model.SysOrgRolegroup" >
    insert into sys_org_rolegroup (or_id, org_id, rg_id, 
      create_time)
    values (#{orId,jdbcType=VARCHAR}, #{orgId,jdbcType=VARCHAR}, #{rgId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.smertbox.security.orgrolegroup.model.SysOrgRolegroup" >
    insert into sys_org_rolegroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orId != null" >
        or_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="rgId != null" >
        rg_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orId != null" >
        #{orId,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="rgId != null" >
        #{rgId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smertbox.security.orgrolegroup.model.SysOrgRolegroupExample" resultType="java.lang.Integer" >
    select count(*) from sys_org_rolegroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_org_rolegroup
    <set >
      <if test="record.orId != null" >
        or_id = #{record.orId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=VARCHAR},
      </if>
      <if test="record.rgId != null" >
        rg_id = #{record.rgId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_org_rolegroup
    set or_id = #{record.orId,jdbcType=VARCHAR},
      org_id = #{record.orgId,jdbcType=VARCHAR},
      rg_id = #{record.rgId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smertbox.security.orgrolegroup.model.SysOrgRolegroup" >
    update sys_org_rolegroup
    <set >
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="rgId != null" >
        rg_id = #{rgId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where or_id = #{orId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smertbox.security.orgrolegroup.model.SysOrgRolegroup" >
    update sys_org_rolegroup
    set org_id = #{orgId,jdbcType=VARCHAR},
      rg_id = #{rgId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where or_id = #{orId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectPage" parameterType="com.smertbox.security.orgrolegroup.model.SysOrgRolegroup" resultMap="BaseResultMap">
  	select * from sys_org_rolegroup where 1=1
  	<include refid="Page_Where_Clause"/>
    <if test="orderByClause!=null and orderByClause!=''">
    order by ${orderByClause} ${orderByType}
    </if>
    <if test="start!=null and start!=-1">
    limit #{start},#{length}
    </if>
  </select>
  
  <select id="selectPageSize" parameterType="com.smertbox.security.orgrolegroup.model.SysOrgRolegroup" resultType="java.lang.Integer">
  select count(*) from sys_org_rolegroup 
  where 1=1  
  <include refid="Page_Where_Clause"/>
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
  select * from sys_org_rolegroup
  </select>
  
</mapper>