<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smertbox.security.pvggroup.mapper.SysPvggroupMapper" >
  <resultMap id="BaseResultMap" type="com.smertbox.security.pvggroup.model.SysPvggroup" >
    <id column="pg_id" property="pgId" jdbcType="VARCHAR" />
    <result column="pg_name" property="pgName" jdbcType="VARCHAR" />
    <result column="pg_desc" property="pgDesc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Page_Where_Clause">
  	  <if test="pgName != null and pgName != ''" >
       and pg_name = #{pgName,jdbcType=VARCHAR}
      </if>
      <if test="pgDesc != null and pgDesc != ''" >
       and pg_desc = #{pgDesc,jdbcType=VARCHAR}
      </if>
      <if test="beginCtTime != null and beginCtTime != '' and endCtTime != null and endCtTime != ''" >
       and create_time between #{beginCtTime,jdbcType=TIMESTAMP} and #{endCtTime,jdbcType=TIMESTAMP}
      </if>
      <if test="createTime != null and createTime != ''" >
       and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="note != null and note != ''" >
       and note = #{note,jdbcType=VARCHAR}
      </if>
  </sql>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pg_id, pg_name, pg_desc, create_time, note
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.smertbox.security.pvggroup.model.SysPvggroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_pvggroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_pvggroup
    where pg_id = #{pgId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_pvggroup
    where pg_id = #{pgId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.smertbox.security.pvggroup.model.SysPvggroupExample" >
    delete from sys_pvggroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smertbox.security.pvggroup.model.SysPvggroup" >
    insert into sys_pvggroup (pg_id, pg_name, pg_desc, 
       create_time, note
      )
    values (#{pgId,jdbcType=VARCHAR}, #{pgName,jdbcType=VARCHAR}, #{pgDesc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smertbox.security.pvggroup.model.SysPvggroup" >
    insert into sys_pvggroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pgId != null" >
        pg_id,
      </if>
      <if test="pgName != null" >
        pg_name,
      </if>
      <if test="pgDesc != null" >
        pg_desc,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pgId != null" >
        #{pgId,jdbcType=VARCHAR},
      </if>
      <if test="pgName != null" >
        #{pgName,jdbcType=VARCHAR},
      </if>
      <if test="pgDesc != null" >
        #{pgDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smertbox.security.pvggroup.model.SysPvggroupExample" resultType="java.lang.Integer" >
    select count(*) from sys_pvggroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_pvggroup
    <set >
      <if test="record.pgId != null" >
        pg_id = #{record.pgId,jdbcType=VARCHAR},
      </if>
      <if test="record.pgName != null" >
        pg_name = #{record.pgName,jdbcType=VARCHAR},
      </if>
      <if test="record.pgDesc != null" >
        pg_desc = #{record.pgDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.note != null" >
        note = #{record.note,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_pvggroup
    set pg_id = #{record.pgId,jdbcType=VARCHAR},
      pg_name = #{record.pgName,jdbcType=VARCHAR},
      pg_desc = #{record.pgDesc,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      note = #{record.note,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smertbox.security.pvggroup.model.SysPvggroup" >
    update sys_pvggroup
    <set >
      <if test="pgName != null" >
        pg_name = #{pgName,jdbcType=VARCHAR},
      </if>
      <if test="pgDesc != null" >
        pg_desc = #{pgDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where pg_id = #{pgId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smertbox.security.pvggroup.model.SysPvggroup" >
    update sys_pvggroup
    set pg_name = #{pgName,jdbcType=VARCHAR},
      pg_desc = #{pgDesc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR}
    where pg_id = #{pgId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.smertbox.security.pvggroup.model.SysPvggroup">
  	select * from sys_pvggroup
    where 1=1
    <include refid="Page_Where_Clause"/>
    <if test="orderByClause!=null and orderByClause!=''">
    order by ${orderByClause} ${orderByType}
    </if>
    <if test="start!=null and start!=-1">
    limit #{start},#{length}
    </if>
  </select>
  
  <select id="selectPageSize" resultType="java.lang.Integer" parameterType="com.smertbox.security.pvggroup.model.SysPvggroup">
  	select count(*) from sys_pvggroup
    where 1=1
    <include refid="Page_Where_Clause"/>
  </select>
  
</mapper>